.font {
  font-family: 'Roboto', sans-serif;
  color: dimgrey;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: dimgrey;
}
nav {
  color: dimgrey;
  font-size: 1.6rem;
}
nav a {
  text-decoration: none;
  color: dimgrey;
}
nav a:active {
  font-weight: 900;
}
header {
  display: flex;
  justify-content: center;
  padding: 3% 5%;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding-bottom: 3%;
}
.title-container h1 {
  font-size: 3rem;
  color: white;
}
.title-container .btn {
  background-color: purple;
  display: flex;
  justify-content: space-around;
  width: 15%;
  border-radius: 5px;
  text-align: center;
  font-size: 1.4rem;
}
.artists-container {
  display: flex;
  justify-content: center;
  border-top: 2px solid grey;
  padding-top: 2%;
}
.artists-container .artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 0 1%;
}
.artists-container .artist img {
  border-radius: 10px;
  width: 40%;
  padding-bottom: 2%;
}
.artists-container .artist h2 {
  margin: 2% 0;
  font-size: 1.3rem;
}
.artists-container .artist .bio {
  background-color: lightblue;
  width: 70%;
  text-align: center;
  margin: 3% 1%;
}
