
header {
    display: flex;
    justify-content: center;
   
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding-bottom: 3%;

    h1 {
        font-size: 3rem;
        color: white;

    }
}

.artists-container {
    display: flex;
    justify-content: center;
    border-top: 2px solid grey;
    padding-top: 2%;
    
}