
header {
    display: flex;
    justify-content: center;
    padding: 3% 5%;
   
}

.hr {
hr {
    border: 1px solid @fontcolor;
    width: 80%;
    margin: 3% 0;
}    
}


.artists-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2%;

    .artist {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        border: 1px solid green;

        img {
            border-radius: 10px;
            width: 40%;
            padding-bottom: 2%;
        }

        h2{
            font-size: 1.3rem;
        }
        .bio {
            width: 70%;
            text-align: center;
            padding: 1%;
           

        
        }
    }
    
}